@media (orientation: landscape) {
    body {
        grid-template-columns: 0.5fr 1fr 0.5fr;
    }
}
@media (orientation: portrait) {
    body {
        grid-template-columns: 0.075fr 1fr 0.075fr;
    }
}

* {
    box-sizing: border-box;
    contain: layout paint;
}

html {
    margin: 0;
    width: 100dvw;
    overflow-y: auto;
    overflow-x: clip;
}

body {
    box-sizing: content-box;
    border-inline: 16px;
    margin-inline: auto;
    margin-block-start: 0;
    margin-block-end: 2rem;
    font-family: Junge, serif;
    display: grid;
    grid-template-rows: auto auto auto auto;
}

body > * + * {
    margin-block-start: 2rem;
}

main > * + * {
    margin-block-start: 1rem;
}

h2 {
    font-size: 2em;
    text-align: center;
}
p {
    font-size: 1.2em;
}

img {
    max-inline-size: 100%;
    vertical-align: middle;
}

navigate {
    position: sticky;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 1;
    top: 0;
    width: 100%;
    height: 2.333333rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: 10000;
    border: 1px solid #e7e7e7;
    background-color: #013567;
    img {
        width: 2.333333rem;
        height: 2.333333rem;
    }
    li {
        float: left;
        overflow: hidden;
        .title {
            color: #ffffff;
        }
        .notcurrent {
            background-color: #013567;
            color: #ffffff;
        }
        .current {
            background-color: #a1d5fb;
            color: #000000;
        }
    }
    toggle-button {
        float: right;
    }
    a {
        overflow: hidden;
        display: block;
        padding-top: .538461rem;
        padding-left: .5rem;
        padding-right: .5rem;
        height:  2.333333rem;
    }
}

header {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 2;
}

main {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 3;
}

footer {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 4;
    text-align: center;
    font-family: Comme, sans-serif;
}

footer .icon {
    inline-size: 1rem;
}
