.markdown {
  text-align: left;
  font-family: "Inter";
  margin-top: 0;
  color: #0000009a;

  h1, h2 {
    border-bottom: #0000009a solid 1px;
    font-size: 1.5rem !important;
  }

  h3 {
    font-size: 1.2rem !important;
  }

  h4, h5, h6 {
    font-size: 1rem !important;
  }

  br {
    margin-bottom: 1rem;
  }

  blockquote {
    margin: 0;
    padding-left: 1rem;
    background: repeating-linear-gradient(45deg, rgba(157, 208, 238, 0.44), rgba(157, 208, 238, 0.44) 10px, rgba(240, 248, 255, 5%) 10px, rgba(240, 248, 255, 5%) 20px);

    border-left: #9dd0ee solid 3.5px;
    border-radius: 1rem 0 0 1rem;
  }

  ul {
    padding-left: 1.1rem;
  }

  ol {
    padding-left: 1.4rem;
  }

  hr {
    border-style: solid;
    border-width: 1px;
    border-image: repeating-linear-gradient(45deg, #54a4f3, #54a4f3 10px, #7fbdf7 10px, #7fbdf7 20px) 0.5;
  }
}

@media (prefers-color-scheme: dark) {
  .markdown {
    color: #ffffff9a;

    h1, h2 {
      border-bottom: #ffffff9a solid 1px;
    }

    blockquote {
      background: rgba(221, 239, 252, 0.30)
    }

    hr {
      border-image: repeating-linear-gradient(45deg, #f5aac5, #f5aac5 10px, #ebe3f2 10px, #ebe3f2 20px) 0.5;
    }

    a {
      color: #f9e2af;

      &:active {
        color: #fab387;
      }
    }
  }
}